<%= content_for :seo_title, 'A little about myself' %>
<%= content_for :description, 'This page has some more information on myself.' %>
<h1>About me</h1>
<div>
<p>
	You can find me on github <a href="http://github.com/cand1992" target="_blank">@cand1992</a>
</p>

</div>