<p>Thank you for signing up!</p>

<p>This website showcases all the<br>work I've done in Ruby on Rails.</p>


<p>To reset your password, <%= link_to "Click Here", edit_user_password_url %></p>



<p>Thanks - Chris Anderson</p>