<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Home", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav"> 
      <li><%= link_to t(:about_me), about_me_path %></li>
      <li><%= link_to t(:my_projects), my_projects_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= time_tag(Time.now) %>
      </li>

    </ul>
  </div><!-- /.navbar-collapse -->
</nav>